@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.custom-header {
  @apply font-bold text-4xl capitalize text-center border-b-2 border-[#7929b9] text-lime-100 flex items-center justify-center mb-4;
}

.custom-header2 {
  @apply font-bold text-2xl capitalize text-center text-[#08993f] border-b-2 border-[#08993f] flex items-center justify-center content-center mb-6;
}

.custom-btn {
  @apply flex flex-row justify-center items-center px-4 py-2 outline-none text-xl text-center font-normal whitespace-nowrap rounded-lg w-full md:w-fit cursor-pointer bg-[#7929b9];
}